<h3 *ngIf="isLoading"><i>Loading requesters ... </i></h3>
<h3 *ngIf="!isLoading">Kies een aanvrager:</h3>

<nav>
  <button (click)="export()" class="btn btn-primary">Export</button>
  <button (click)="addRequester()" class="btn btn-primary">Aanvrager toevoegen</button>
  <a *ngFor="let requester of requesters | async" (click)="select(requester)">{{requester.name}}</a>
</nav>

<div *ngIf="selectedRequester">
  <hr>
  <h2>Aanvrager gegevens</h2>
  <h3>Bewerken: {{selectedRequester.name}}</h3>
  <app-requester-detail [requester]="selectedRequester"></app-requester-detail>
</div>
